scripts/
testAssets/

# Generated Directory
src/main/resources/doki/generated
src/main/resources/doki/icons
doki-build-plugin/assets/themes/**
doki-build-plugin/assets/themes/*!.icons.definition.json

# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
/build/
/doki-build-plugin/build/
classes/

#gradle.properties
*.icls
src/test/resources/

masterThemes/
.qodana/

.gradle
.qodana
tmp
.intellijPlatform/
.kotlin
*.hprof
iconSource/
doki-build-source-jvm/
doki-build-source/
src/main/resources/META-INF/plugin.xml